<script setup>
import { ref, defineProps, onMounted } from 'vue';

const props = defineProps({
  node: {
    type: Object,
    required: true,
  },
});

const isCollapsed = ref(true);

const toggleCollapse = () => {
  isCollapsed.value = !isCollapsed.value;
};

onMounted(() => {
  const chevrons = document.querySelectorAll('.list-group-item');
  chevrons.forEach(chevron => {
    chevron.addEventListener('click', function() {
      const icon = this.querySelector('.glyphicon');
      icon.classList.toggle('glyphicon-chevron-right');
      icon.classList.toggle('glyphicon-chevron-down');
    });
  });
});
</script>

<template>
  <div>
    <a
        href="javascript:void(0);"
        class="list-group-item"
        @click="toggleCollapse"
    >
      <i :class="`glyphicon ${isCollapsed ? 'glyphicon-chevron-right' : 'glyphicon-chevron-down'}`"></i>
      {{ node.name }}
    </a>
    <div class="list-group collapse" :class="{ show: !isCollapsed }">
      <ListComponent
          v-for="(child, index) in node.children"
          :key="index"
          :node="child"
      />
    </div>
  </div>
</template>

<style scoped>


</style>
