<script setup>
import { ref } from 'vue';
import ListComponent from "@/components/ListComponent.vue";
import data from '@/data/index.json'

const listData = ref(data)

const transformData = (data) => {
  const map = {};
  data.forEach(item => map[item.id] = { ...item, children: [] });

  const roots = [];

  data.forEach(item => {
    if (item.parent_id === 0) {
      roots.push(map[item.id]);
    } else {
      map[item.parent_id].children.push(map[item.id]);
    }
  });

  return roots;
};

const result = transformData(listData.value);

</script>

<template>
  <div class="just-padding">
    <div class="list-group list-group-root">
      <ListComponent v-for="(node, index) in result" :key="index" :node="node"/>
    </div>
  </div>
</template>

<style>

</style>
